.header {
  position: relative;
  width: 100%;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconRow {
  width: 50%;/* This must match App.css '.bodyControlCenter' 'flex' value ! */
  display: flex;
  padding-top: 0.15rem;
  gap: clamp(0.2rem, 4%, 2rem);
}

.iconRowLeft {
  width: 50%;
  margin-left: clamp(0.2rem, 1%, 0.5rem);
  display: flex;
  gap: clamp(0.2rem, 4%, 2rem);
  justify-content: left;
}

.iconRowRight {
  width: 50%;
  margin-right: clamp(0.2rem, 1%, 0.5rem);
  display: flex;
  gap: clamp(0.2rem, 4%, 2rem);
  justify-content: right;
}

.iconBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  fill: #484848;
  font-size: clamp(0.5rem, 5vw, 1.4rem);
}

.iconBtn svg {
  fill: #484848;
}

  .iconBtn:focus-visible {
    outline: 2px solid currentColor;
  }

.separator {
  width: 100%;
  height: 1px;
  background: #606060;
  position: relative;
  margin-top: 0.2rem;
}

.separator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5dvh;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0)
  );
  z-index: 10;
}

@media (hover: hover) {
  .iconBtn:hover svg,
  .iconBtn:focus-visible svg {
    fill: #c9c9c9;
    transition: fill 0.2s ease;
  }
}

/* Mobile breakpoint: mobile display or smaller screens */
@media (max-width: 876px) {
  .iconRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: clamp(0.5rem, 4vw, 2rem);
    box-sizing: border-box;
  }
  .iconBtn {
    font-size: clamp(0.5rem, 5vw, 3rem);
  }
  .iconRowLeft,
  .iconRowRight {
    width: auto;
    display: flex;
    gap: clamp(0.1rem, 4vw, 2rem);
    justify-content: center;
  }
}