#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #111111;
}

.bodyControl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}