#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #111111;
  font-family: "Noto Sans", sans-serif;
}

.bodyControl {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.bodyControlLeft {
  flex: 0 0 25%;
}

.bodyControlCenter {
  flex: 0 0 50%;/* This must match MainHeader.module.css '.iconRow' 'width' value ! */
}

.bodyControlRight {
  flex: 0 0 25%;
}