.chatComponent {
  height: 100dvh;
  display: flex;
  overflow: hidden;
}

.userInputContainer {
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 2em;
}

/* First message css */
.messagesContainer > * + * {
  margin-top: 0.7em;
}

/* Last message css */
.messagesContainer > *:nth-last-child(2) {
  
}

.messagesContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    padding-right: 0.8em;
    margin-right: -0.6em;

    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* Safari */
    -webkit-overflow-scrolling: touch;

    scrollbar-gutter: stable;
}

/* Chrome / Edge / Safari */
.messagesContainer::-webkit-scrollbar {
  width: 8px;
}

.messagesContainer::-webkit-scrollbar-track {
  background: transparent;
}

.messagesContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.messagesContainer.scrolling {
  scrollbar-width: thin; /* Firefox */
}

.messagesContainer.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}