.container {
    width: 100%;
    min-height: 5vh;
    background-color: rgb(27, 27, 27);
    border: 1px solid #2e2e2e;
    border-radius: 14px;
    display: flex;
}

.messageAvatarContainer {
    width: clamp(5rem, 10vw, 9rem);
    height: auto;
    display: flex;
    justify-items: center;
    
    -webkit-mask-image:
        linear-gradient(to left, transparent 0%, black 5%, black 100%),/* right fade */
        linear-gradient(to top, transparent 0%, black 5%, black 100%),/* bottom fade */
        linear-gradient(to bottom, black 0%, black 70%, transparent 100%),/* top fade — starts AFTER left corner */
        linear-gradient(to right, black 0%, black 70%, transparent 100%);/* left fade — starts AFTER top corner */

    -webkit-mask-composite: destination-in;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image:
        linear-gradient(to left, transparent 0%, black 5%, black 100%),
        linear-gradient(to top,  transparent 0%, black 5%, black 100%),
        linear-gradient(to bottom, black 0%, black 70%, transparent 100%),
        linear-gradient(to right,  black 0%, black 70%, transparent 100%);

    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.messageAvatarContainer img {
    width: clamp(5rem, 10vw, 9rem);
    height: auto;
    border-top-left-radius: 14px;
    object-fit: scale-down;
}

.messageContent {
    width: 100%;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: 0.3em;

    display: flex;
    flex-direction: column;
}

.messageHeaderContent {
    display: flex;
}

.messageHeaderContentName {
    font-size: 0.7em;
    font-weight: bolder;
    color: #3484e0;
    margin-top: 0.5em;
}

.messageHeaderContentModel {
    font-size: 0.4em;
    font-weight: bolder;
    color: #696969;
    margin-left: clamp(0.1rem, 0.5vw, 3rem);
    margin-top: 2em;
}

.messageHeaderContentCreatedAt {
    margin-left: auto;
    margin-right: 1em;
    font-size: 0.5em;
    font-weight: bolder;
    color: #696969;
    margin-top: 1.5em;
}

.messageContentSeparator {
    width: auto;
    height: 1px;
    background-color: #414141;
    margin-right: 0.4em;
}

.messageContentValue {
    padding: 0.5em;
    padding-left: 0;
    padding-right: 1em;
    font-size: 0.8em;
    color: #dbdbd1;
    text-align: left;
}

.leftMessageContainer {
    display: flex;           /* Ensures children respect flex rules */
    flex-direction: column;     /* Avatar + info side by side */
    width: auto;
}

.messageInfoContainer {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 5em;
    width: 96%;
    height: 100%;
    display: flex;
    border-bottom-left-radius: 14px;
    font-size: 0.6em;
    font-weight: bolder;
    color: #888888;
}

.messageContentFooter {
    display: flex;
    margin-top: auto;
    gap: 0.5em;
    padding: 0.5em;
    padding-left: 0;
    font-size: 1em;
    color: #696969;
}