.chatSelectionComponent {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.chatsGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(3rem, 8dvw, 10rem), 1fr));
    align-content: flex-start;
    gap: 1em;
    padding-bottom: 2em;
    height: 100dvh;

    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* Safari */
    -webkit-overflow-scrolling: touch;

    scrollbar-gutter: stable;
}

.chatAvatarContainer {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    
    -webkit-mask-image:
    linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%), /* horizontal */
    linear-gradient(to bottom, transparent 0%, black 3%, black 97%, transparent 100%); /* vertical */

    -webkit-mask-composite: destination-in;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image:
    linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 3%, black 97%, transparent 100%);

    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.chatAvatarContainer:hover {
    cursor: pointer;
    
    -webkit-mask-image:
    linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 2%, black 98%, transparent 100%);

    mask-image:
    linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 2%, black 98%, transparent 100%);
    
    -webkit-mask-size: 101% 101%;
    mask-size: 101% 101%;
    transition: mask-size 0.3s ease, -webkit-mask-size 0.3s ease;
}

.chatAvatarContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatCharNameLabel{
    color:#dfdfdf;
}

.chatFootLabel{
    color:#888;
    font-size: 0.7em;
}

.filterRow {
    padding-top: 1em;
}

/* Mobile breakpoint: mobile display or smaller screens */
@media (max-width: 876px) {
 .chatsGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(clamp(5rem, 25dvw, 10rem), 1fr));
}
}